{% extends 'main.html' %}
{% load static %}
{% block body %}
    {{ room_name|json_script:"room-name" }}
    {{ username|json_script:"message-sender" }}
    <div id="room-div" class="alert alert-primary">
        <div id="messages"></div>
        <input id="send-message-input" type="text" name="body" class="form-control" placeholder="Send" maxlength="200" >
        <input id="submit-message-btn" type="submit" value="Send" class="btn btn-primary">
    </div>



    <script src="{% static "reconnecting-websockets.js" %}"></script>
    <div id="container">
        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            const messageSender = JSON.parse(document.getElementById('message-sender').textContent);  // message user
            const chatSocket = new ReconnectingWebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + roomName
                + '/'
            );

            chatSocket.onopen = function(e)
            {
                fetchMessages();
            }

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                if(data['method'] === 'fetch_messages')
                {
                    clearMessage()
                    for(let i=0; i<data['messages'].length; i++){
                        craeteMessage(data.messages[i]);
                    }
                } else if (data['method'] === 'new_message') {
                    craeteMessage(data.message);
                }

            };

            function clearMessage()
            {
                const myDiv = document.getElementById("messages")
                myDiv.innerHTML = ''
            }
            function craeteMessage(message)
            {
                var div= document.createElement("Div");
                var outerDiv= document.createElement("Div");
                var pTag = document.createElement("P");
                var Br = document.createElement("br");
                var pTagBody = document.createElement("P");
                var aTagEdit = document.createElement("A");
                var aTagDelete = document.createElement("A");
                var inputDelete = document.createElement("Input");
                var buttonEdit= document.createElement("Button");

                div.className = "card";
                div.id = "Message"
                if(messageSender === message['username'])
                {
                    div.style.color = "crimson";
                }

                outerDiv.className = "alert alert-primary";
                outerDiv.id = "all-messages";
                pTag.className = "card-header";
                pTag.style.whiteSpace = "pre";
                pTag.innerHTML = message['username'] + "|" + message['posted_time'] + " ".repeat(18);
                pTagBody.className = "card-body";
                var msg_id = message['id'];
                {#aTagDelete.href = "http://127.0.0.1:8000/delete_message/" + msg_id + "/"#}
                {#aTagEdit.href = "http://127.0.0.1:8000/edit_message/" + msg_id + "/"#}
                // Delete button
                inputDelete.className = "btn btn-danger";
                inputDelete.value = "Delete"
                inputDelete.type = "submit"
                inputDelete.id = msg_id.toString()
                inputDelete.onclick = function(e) {
                    chatSocket.send(JSON.stringify({
                        'message_id': msg_id,
                        'method': "delete_message",
                        'sender': messageSender,
                        'room': roomName
                }))}

                // Edit button
                buttonEdit.className = "btn btn-success";
                buttonEdit.innerHTML = "Edit"
                pTagBody.innerHTML = message['body'];

                {#aTagEdit.appendChild(buttonTwo);#}
                aTagDelete.appendChild(inputDelete);
                {#pTag.appendChild(aTagEdit);#}
                pTag.appendChild(aTagDelete);
                div.appendChild(pTag);
                div.appendChild(pTagBody);
                document.getElementById("messages").appendChild(div);
                document.getElementById("messages").appendChild(Br);
            }

            function fetchMessages()
            {
                chatSocket.send(JSON.stringify({
                    'method': "fetch_messages",
                    'room': roomName
                }));
            }

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#send-message-input').focus();
            document.querySelector('#send-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#submit-message-btn').click();
                }
            };

            document.querySelector('#submit-message-btn').onclick = function(e) {
                const messageInputDom = document.querySelector('#send-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'method': "new_message",
                    'sender': messageSender,
                    'room': roomName
                }));
                messageInputDom.value = '';
            };



        </script>



    </div>
{% endblock %}
